langchain
langchain_core
langchain_community
langchain_groq
langchain_huggingface
langchain_pinecone
langchain_google_genai
gunicorn
pinecone
langchain_unstructured
unstructured
pymupdf
fastapi
pyPDF2
docx
google
langchain
langchain-pinecone
langchain-google-genai
pypdf2
python-docx
sentence-transformers
tqdm
